*.ibc
/build/
/docs/build/
/rapid
/rts/build/
/rts/rapid_rts_test
/samples/build/
/src/build/
/tests/**/build/
/tests/**/compile.log
/tests/**/output
*.a
*.bc
*.bc.d
*.o
*.so
.ninja_deps
.ninja_log
build.ninja
cmake_install.cmake
CMakeCache.txt
CMakeFiles
compile_commands.json
